* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #04FF00;
  background-color: #000000;
}

header {
  background-color: #000000;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #04FF00;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  background: #ccc;
  padding: 20px;
  color: #04FF00;
  background-color: #000000;
  text-decoration: none;
  cursor:pointer;
}
a {
    color: #04FF00;
    text-decoration: none;
}

a:hover {
    color:#058603; 
    text-decoration:none; 
    cursor:pointer;  
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #000000;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  color: #04FF00;
}
